<!-- 引用静态资源(注意要使用绝对路径，小结：对于静态资源要绝对路径，对于action要用相对路径) -->
<!-- Bootstrap 的 CSS -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Jquery 要先于其他js插件引入 -->
<script type="text/javascript" src="//cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
<!-- Bootstrap 的 JavaScript -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- 表单验证插件 nice-validator -->
<script type="text/javascript" src="/static/libs/nice-validator/jquery.validator.js?local=zh-CN"></script>

<!-- 自定义的CSS、JS文件 -->
<script type="text/javascript" src="/static/js/common.js"></script>


<!-- 设置网页编码格式为utf-8 -->
<meta charset="UTF-8">