<!-- bootstrap - css -->
<link href="${staticRoot}/libs/BJUI/themes/css/bootstrap.css" rel="stylesheet">
<!-- core - css -->
<link href="${staticRoot}/libs/BJUI/themes/css/style.css" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/themes/blue/core.css" id="bjui-link-theme" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/themes/css/fontsize.css" rel="stylesheet">
<!-- plug - css -->
<link href="${staticRoot}/libs/BJUI/plugins/kindeditor_4.1.11/themes/default/default.css" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/plugins/nice-validator-1.0.7/jquery.validator.css" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/plugins/webuploader/webuploader.css" rel="stylesheet">
<link href="${staticRoot}/libs/BJUI/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-precomposed.png">
<link rel="shortcut icon" href="/static/images/favicon.ico">
<!--[if lte IE 7]>
<link href="${staticRoot}/libs/BJUI/themes/css/ie7.css" rel="stylesheet">
<![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lte IE 9]>
<script src="${staticRoot}/libs/BJUI/other/html5shiv.min.js"></script>
<script src="${staticRoot}/libs/BJUI/other/respond.min.js"></script>
<![endif]-->
<!-- jquery -->
<script src="${staticRoot}/libs/BJUI/js/jquery-1.11.3.min.js"></script>
<script src="${staticRoot}/libs/BJUI/js/jquery.cookie.js"></script>
<!-- vue：记得vue一定要先于jquery.iframe-transport.js加载，不然Vue对象将不会注册到DOM上面，原因暂不详 -->
<script src="${staticRoot}/libs/vue/vue.js"></script>
<!--[if lte IE 9]>
<script src="${staticRoot}/libs/BJUI/other/jquery.iframe-transport.js"></script>
<![endif]-->
<!-- B-JUI -->
<script src="${staticRoot}/libs/BJUI/js/bjui-all.min.js"></script>
<!-- plugins -->
<!-- swfupload for kindeditor -->
<script src="${staticRoot}/libs/BJUI/plugins/swfupload/swfupload.js"></script>
<!-- Webuploader -->
<script src="${staticRoot}/libs/BJUI/plugins/webuploader/webuploader.js"></script>
<!-- kindeditor -->
<script src="${staticRoot}/libs/BJUI/plugins/kindeditor_4.1.11/kindeditor-all-min.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/kindeditor_4.1.11/lang/zh-CN.js"></script>
<!-- colorpicker -->
<script src="${staticRoot}/libs/BJUI/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
<!-- ztree -->
<script src="${staticRoot}/libs/BJUI/plugins/ztree/jquery.ztree.all-3.5.js"></script>
<!-- nice validate -->
<script src="${staticRoot}/libs/BJUI/plugins/nice-validator-1.0.7/jquery.validator.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/nice-validator-1.0.7/jquery.validator.themes.js"></script>
<!-- bootstrap plugins -->
<script src="${staticRoot}/libs/BJUI/plugins/bootstrap.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
<!-- icheck -->
<script src="${staticRoot}/libs/BJUI/plugins/icheck/icheck.min.js"></script>
<!-- dragsort -->
<script src="${staticRoot}/libs/BJUI/plugins/dragsort/jquery.dragsort-0.5.1.min.js"></script>
<!-- HighCharts -->
<script src="${staticRoot}/libs/BJUI/plugins/highcharts/highcharts.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/highcharts/highcharts-3d.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/highcharts/themes/gray.js"></script>
<!-- ECharts -->
<script src="${staticRoot}/libs/BJUI/plugins/echarts/echarts.js"></script>
<!-- other plugins -->
<script src="${staticRoot}/libs/BJUI/plugins/other/jquery.autosize.js"></script>
<link href="${staticRoot}/libs/BJUI/plugins/uploadify/css/uploadify.css" rel="stylesheet">
<script src="${staticRoot}/libs/BJUI/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
<script src="${staticRoot}/libs/BJUI/plugins/download/jquery.fileDownload.js"></script>
<!--<script src="${staticRoot}/libs/BJUI/other/jquery.fly.js"></script>-->

<!--打印-->
<script src="${staticRoot}/libs/printarea/jquery.printarea.js"></script>